/********************* Reseteo general CSS *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Poppins-Light";
  font-weight: 300;
  src: url(../fonts/poppins-light.ttf) format("truetype"); }

@font-face {
  font-family: "Poppins-Semibold";
  font-weight: 600;
  src: url(../fonts/poppins-semiBold.ttf) format("truetype"); }

@font-face {
  font-family: "Professor";
  font-weight: 400;
  src: url(../fonts/professor.ttf) format("truetype"); }

@font-face {
  font-family: "Cooper-Black";
  font-weight: 900;
  src: url(../fonts/coopbl.TTF) format("truetype"); }

html {
  font-size: 16px; }

body {
  font-family: "Poppins-Light", Helvetica, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cooper-Black", serif;
  font-weight: 900; }

p {
  font-family: "Poppins-Light", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.125rem; }

header {
  position: sticky;
  top: 0;
  z-index: 1020; }

.hero-image {
  background-color: #f3efe8;
  background-image: url(../img/fondo.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 7.125em); }
  .hero-image .hero-image__container {
    max-width: 1460px;
    height: 100%;
    margin: auto;
    background-image: url(../img/tissue_package_hands.jpg);
    background-position: center;
    background-size: cover; }
  @media (max-width: 1400px) {
    .hero-image .hero-image__container {
      background-position: 51.25% center; } }
  @media (max-width: 576px) {
    .hero-image {
      height: calc(100vh - 5.3125em); } }
  @media (max-width: 450px) {
    .hero-image .hero-image__container {
      background-image: url(../img/tissue_package_hands_mobile.jpg); } }

.brands {
  background-color: #f3efe8; }
  .brands h3 {
    text-align: center;
    padding: 2rem 1rem 1.5rem 1rem;
    margin-bottom: 0; }
  .brands #brandsCarousel .carousel-inner {
    padding-bottom: 2rem; }
    .brands #brandsCarousel .carousel-inner .carousel-item .image-wraper {
      max-width: 1460px;
      min-height: 11rem;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .brands #brandsCarousel .carousel-inner .carousel-item .image-wraper img {
        flex-grow: 0;
        width: 10rem; }
  .brands #brandsCarousel .carousel-indicators {
    margin-bottom: 0; }
    .brands #brandsCarousel .carousel-indicators button {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin: 0 1rem;
      opacity: 1;
      background-color: #fff; }
      .brands #brandsCarousel .carousel-indicators button.active {
        background-color: #ee7f59; }
  @media (max-width: 992px) {
    .brands #brandsCarousel .carousel-inner .carousel-item .image-wraper {
      min-height: 11rem; }
      .brands #brandsCarousel .carousel-inner .carousel-item .image-wraper img {
        width: 9rem; }
    .brands #brandsCarousel .carousel-indicators button {
      width: 2rem;
      height: 2rem; } }
  @media (max-width: 768px) {
    .brands #brandsCarousel .carousel-inner .carousel-item .image-wraper {
      min-height: 8rem; }
      .brands #brandsCarousel .carousel-inner .carousel-item .image-wraper img {
        width: 7rem; } }
  @media (max-width: 576px) {
    .brands h3 {
      font-size: 1.15rem;
      padding: 2rem 0.25rem 1.5rem 0.25rem; }
    .brands #brandsCarousel .carousel-inner .carousel-item .image-wraper {
      min-height: 6rem; }
      .brands #brandsCarousel .carousel-inner .carousel-item .image-wraper img {
        width: 5rem; }
    .brands #brandsCarousel .carousel-indicators button {
      width: 1rem;
      height: 1rem;
      margin: 0 0.5rem; } }

.objective .objective-wraper,
.objective .about-wraper,
.about .objective-wraper,
.about .about-wraper {
  max-width: 1460px;
  margin: auto;
  padding: 8rem 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .objective .objective-wraper .objective__text,
  .objective .objective-wraper .about__text,
  .objective .about-wraper .objective__text,
  .objective .about-wraper .about__text,
  .about .objective-wraper .objective__text,
  .about .objective-wraper .about__text,
  .about .about-wraper .objective__text,
  .about .about-wraper .about__text {
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .objective .objective-wraper .objective__text h3,
    .objective .objective-wraper .about__text h3,
    .objective .about-wraper .objective__text h3,
    .objective .about-wraper .about__text h3,
    .about .objective-wraper .objective__text h3,
    .about .objective-wraper .about__text h3,
    .about .about-wraper .objective__text h3,
    .about .about-wraper .about__text h3 {
      max-width: 34rem;
      text-align: center;
      margin-bottom: 2rem; }
    .objective .objective-wraper .objective__text p,
    .objective .objective-wraper .about__text p,
    .objective .about-wraper .objective__text p,
    .objective .about-wraper .about__text p,
    .about .objective-wraper .objective__text p,
    .about .objective-wraper .about__text p,
    .about .about-wraper .objective__text p,
    .about .about-wraper .about__text p {
      text-align: center;
      max-width: 28rem;
      color: #575757; }
  .objective .objective-wraper .objective__text p:last-of-type,
  .objective .about-wraper .objective__text p:last-of-type,
  .about .objective-wraper .objective__text p:last-of-type,
  .about .about-wraper .objective__text p:last-of-type {
    font-family: "Professor";
    font-size: 1.875rem;
    color: #000;
    max-width: none;
    margin-top: 1rem; }
  .objective .objective-wraper .std-btn,
  .objective .about-wraper .std-btn,
  .about .objective-wraper .std-btn,
  .about .about-wraper .std-btn {
    text-decoration: none;
    color: #000;
    background-color: #f9cebe;
    font-size: 1.4375rem;
    padding: 1.25rem 6.25rem;
    box-shadow: 11px 9px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.4s ease-in-out, box-shadow 0.2s ease; }
    .objective .objective-wraper .std-btn:hover,
    .objective .about-wraper .std-btn:hover,
    .about .objective-wraper .std-btn:hover,
    .about .about-wraper .std-btn:hover {
      background-color: #ee7f59;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); }
  .objective .objective-wraper .about__btn-mobile,
  .objective .about-wraper .about__btn-mobile,
  .about .objective-wraper .about__btn-mobile,
  .about .about-wraper .about__btn-mobile {
    display: none; }
  .objective .objective-wraper .objective__image,
  .objective .objective-wraper .about__image,
  .objective .about-wraper .objective__image,
  .objective .about-wraper .about__image,
  .about .objective-wraper .objective__image,
  .about .objective-wraper .about__image,
  .about .about-wraper .objective__image,
  .about .about-wraper .about__image {
    width: 39%; }
    .objective .objective-wraper .objective__image img,
    .objective .objective-wraper .about__image img,
    .objective .about-wraper .objective__image img,
    .objective .about-wraper .about__image img,
    .about .objective-wraper .objective__image img,
    .about .objective-wraper .about__image img,
    .about .about-wraper .objective__image img,
    .about .about-wraper .about__image img {
      width: 100%; }

@media (max-width: 1200px) {
  .objective .objective-wraper .objective__text,
  .objective .objective-wraper .about__text,
  .objective .about-wraper .objective__text,
  .objective .about-wraper .about__text,
  .about .objective-wraper .objective__text,
  .about .objective-wraper .about__text,
  .about .about-wraper .objective__text,
  .about .about-wraper .about__text {
    width: 49%; }
  .objective .objective-wraper .objective__image,
  .objective .objective-wraper .about__image,
  .objective .about-wraper .objective__image,
  .objective .about-wraper .about__image,
  .about .objective-wraper .objective__image,
  .about .objective-wraper .about__image,
  .about .about-wraper .objective__image,
  .about .about-wraper .about__image {
    width: 43%; } }

@media (max-width: 992px) {
  .objective .objective-wraper .objective__text h3,
  .objective .objective-wraper .about__text h3,
  .objective .about-wraper .objective__text h3,
  .objective .about-wraper .about__text h3,
  .about .objective-wraper .objective__text h3,
  .about .objective-wraper .about__text h3,
  .about .about-wraper .objective__text h3,
  .about .about-wraper .about__text h3 {
    margin-bottom: 1rem; }
  .objective .objective-wraper .objective__text p:last-of-type,
  .objective .objective-wraper .about__text p:last-of-type,
  .objective .about-wraper .objective__text p:last-of-type,
  .objective .about-wraper .about__text p:last-of-type,
  .about .objective-wraper .objective__text p:last-of-type,
  .about .objective-wraper .about__text p:last-of-type,
  .about .about-wraper .objective__text p:last-of-type,
  .about .about-wraper .about__text p:last-of-type {
    margin-top: 0; }
  .objective .objective-wraper .std-btn,
  .objective .about-wraper .std-btn,
  .about .objective-wraper .std-btn,
  .about .about-wraper .std-btn {
    font-size: 1.2rem;
    padding: 1.25rem 4rem; }
  .objective .objective-wraper .objective__image,
  .objective .objective-wraper .about__image,
  .objective .about-wraper .objective__image,
  .objective .about-wraper .about__image,
  .about .objective-wraper .objective__image,
  .about .objective-wraper .about__image,
  .about .about-wraper .objective__image,
  .about .about-wraper .about__image {
    width: 46%; } }

@media (max-width: 768px) {
  .objective .objective-wraper,
  .objective .about-wraper,
  .about .objective-wraper,
  .about .about-wraper {
    padding: 3.875rem 1.3rem 0 1.3rem;
    flex-direction: column;
    align-items: center; }
    .objective .objective-wraper .objective__text,
    .objective .objective-wraper .about__text,
    .objective .about-wraper .objective__text,
    .objective .about-wraper .about__text,
    .about .objective-wraper .objective__text,
    .about .objective-wraper .about__text,
    .about .about-wraper .objective__text,
    .about .about-wraper .about__text {
      width: 100%;
      margin-bottom: 3.875rem; }
    .objective .objective-wraper .objective__text p:last-of-type,
    .objective .about-wraper .objective__text p:last-of-type,
    .about .objective-wraper .objective__text p:last-of-type,
    .about .about-wraper .objective__text p:last-of-type {
      margin-top: 1rem; }
    .objective .objective-wraper .about__text p:last-of-type,
    .objective .about-wraper .about__text p:last-of-type,
    .about .objective-wraper .about__text p:last-of-type,
    .about .about-wraper .about__text p:last-of-type {
      margin-bottom: 0; }
    .objective .objective-wraper .about__text .std-btn,
    .objective .about-wraper .about__text .std-btn,
    .about .objective-wraper .about__text .std-btn,
    .about .about-wraper .about__text .std-btn {
      display: none; }
    .objective .objective-wraper .objective__image,
    .objective .objective-wraper .about__image,
    .objective .about-wraper .objective__image,
    .objective .about-wraper .about__image,
    .about .objective-wraper .objective__image,
    .about .objective-wraper .about__image,
    .about .about-wraper .objective__image,
    .about .about-wraper .about__image {
      width: 80%; }
    .objective .objective-wraper .about__image,
    .objective .about-wraper .about__image,
    .about .objective-wraper .about__image,
    .about .about-wraper .about__image {
      order: 1; }
    .objective .objective-wraper .about__btn-mobile,
    .objective .about-wraper .about__btn-mobile,
    .about .objective-wraper .about__btn-mobile,
    .about .about-wraper .about__btn-mobile {
      order: 2;
      display: block;
      margin-top: 3.785rem; } }

@media (max-width: 576px) {
  .objective .objective-wraper .objective__text h3,
  .objective .objective-wraper .about__text h3,
  .objective .about-wraper .objective__text h3,
  .objective .about-wraper .about__text h3,
  .about .objective-wraper .objective__text h3,
  .about .objective-wraper .about__text h3,
  .about .about-wraper .objective__text h3,
  .about .about-wraper .about__text h3 {
    font-size: 1.15rem; }
  .objective .objective-wraper .objective__text p,
  .objective .objective-wraper .about__text p,
  .objective .about-wraper .objective__text p,
  .objective .about-wraper .about__text p,
  .about .objective-wraper .objective__text p,
  .about .objective-wraper .about__text p,
  .about .about-wraper .objective__text p,
  .about .about-wraper .about__text p {
    font-size: 1rem; }
  .objective .objective-wraper .objective__text p:last-of-type,
  .objective .about-wraper .objective__text p:last-of-type,
  .about .objective-wraper .objective__text p:last-of-type,
  .about .about-wraper .objective__text p:last-of-type {
    font-size: 1.4rem; }
  .objective .objective-wraper .std-btn,
  .objective .about-wraper .std-btn,
  .about .objective-wraper .std-btn,
  .about .about-wraper .std-btn {
    font-size: 1.2rem;
    padding: 1rem 1rem; }
  .objective .objective-wraper .objective__image,
  .objective .about-wraper .objective__image,
  .about .objective-wraper .objective__image,
  .about .about-wraper .objective__image {
    width: 100%; } }

.workExamples h3 {
  padding: 1.375rem 1rem;
  text-align: center;
  margin-bottom: 0; }

.workExamples .image-wraper {
  max-width: 1460px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .workExamples .image-wraper img {
    width: 30%; }

@media (max-width: 768px) {
  .workExamples h3 {
    padding: 3.875rem 1rem; }
  .workExamples .image-wraper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.3rem; }
    .workExamples .image-wraper img {
      width: 100%;
      max-width: 28rem;
      margin-bottom: 3.875rem; }
      .workExamples .image-wraper img:last-child {
        margin-bottom: 0; } }

@media (max-width: 576px) {
  .workExamples h3 {
    font-size: 1.15rem; } }

.why-section {
  margin-top: 50px;
  padding: 40px 5px 40px 5px;
  background: #dee2dd;
  width: 100%; }
  .why-section .why-head {
    margin: auto;
    max-width: 1460px; }
    .why-section .why-head h2 {
      text-align: center;
      margin-bottom: 15px; }
    .why-section .why-head .why-head-p {
      text-align: center;
      font-family: "Poppins-Semibold";
      color: #ee7f59;
      margin-bottom: 15px; }
  .why-section .why-main {
    display: flex;
    align-items: center;
    justify-content: center; }
    .why-section .why-main .why-main-more {
      margin: 0px 40px 0px 40px; }
    .why-section .why-main .why-main-item .item-p {
      margin-top: 5px;
      text-align: center; }
  .why-section .why-end {
    margin-top: 45px;
    text-align: center; }

@media (max-width: 992px) {
  .why-section .why-main {
    justify-content: center; }
    .why-section .why-main .why-main-item .item-img {
      display: flex;
      align-items: center;
      justify-content: center; }
      .why-section .why-main .why-main-item .item-img img {
        width: 100px; }
  .why-section .why-main-more {
    margin: 0px 10px 0px 10px;
    width: 20px; } }

@media (max-width: 576px) {
  .why-section {
    max-width: 100vw; }
    .why-section .why-main {
      justify-content: space-around; }
      .why-section .why-main .why-main-item .item-img {
        display: flex;
        align-items: center;
        justify-content: center; }
        .why-section .why-main .why-main-item .item-img img {
          width: 70px; }
      .why-section .why-main .why-main-item .item-p {
        font-size: 18px; }
    .why-section .why-main-more {
      margin: 0px 50px 0px 50px; }
      .why-section .why-main-more img {
        width: 45px; } }

@media (max-width: 576px) {
  .why-section .why-main {
    justify-content: center; }
    .why-section .why-main .why-main-item .item-img {
      display: flex;
      align-items: center;
      justify-content: center; }
      .why-section .why-main .why-main-item .item-img img {
        width: 70px; }
    .why-section .why-main .why-main-item .item-p {
      font-size: 18px; }
  .why-section .why-main-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px 0px 5px !important; }
    .why-section .why-main-more img {
      width: 20px; }
  .why-end {
    font-size: 22px; } }

@media (max-width: 380px) {
  .why-section .why-main {
    justify-content: center; }
    .why-section .why-main .why-main-item .item-img {
      display: flex;
      align-items: center;
      justify-content: center; }
      .why-section .why-main .why-main-item .item-img img {
        width: 55px; }
    .why-section .why-main .why-main-item .item-p {
      font-size: 15px; }
  .why-section .why-main-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 3px 0px 3px !important; }
    .why-section .why-main-more img {
      width: 15px; }
  .why-end {
    font-size: 18px; } }

.services-section {
  padding: 60px 10px 40px 10px; }
  .services-section h2 {
    margin-bottom: 80px;
    text-align: center;
    font-size: 25px; }
  .services-section .services-items-container {
    display: flex;
    align-items: start;
    justify-content: center;
    max-width: 100vw; }
    .services-section .services-items-container .services-item {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .services-section .services-items-container .services-item .services-item-img {
        display: flex;
        align-items: center;
        justify-content: center; }
        .services-section .services-items-container .services-item .services-item-img img {
          width: 300px; }
      .services-section .services-items-container .services-item .services-item-title {
        margin: 20px 0 20px 0; }
      .services-section .services-items-container .services-item .services-item-description {
        width: 60%;
        font-family: "Poppins-Light", Helvetica, sans-serif;
        font-size: 16px;
        text-align: center; }
      .services-section .services-items-container .services-item .services-item-btn {
        position: relative;
        bottom: 0;
        text-decoration: none;
        color: #000;
        background-color: #f9cebe;
        font-size: 1.4375rem;
        padding: 1.25rem 1.25rem;
        box-shadow: 11px 9px 4px rgba(0, 0, 0, 0.25);
        transition: background-color 0.4s ease-in-out, box-shadow 0.2s ease; }
        .services-section .services-items-container .services-item .services-item-btn:hover {
          background-color: #ee7f59;
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); }
      .services-section .services-items-container .services-item .b-bottom {
        margin-top: 24px; }

@media (max-width: 992px) {
  .services-items-container {
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column; }
    .services-items-container .services-item {
      width: 90% !important; }
      .services-items-container .services-item img {
        width: 500px !important; }
      .services-items-container .services-item .services-item-title {
        margin: 20px 0 20px 0;
        font-size: 30px !important; }
      .services-items-container .services-item .services-item-description {
        width: 70% !important;
        font-size: 21px;
        text-align: center; }
      .services-items-container .services-item .services-item-btn {
        margin-bottom: 50px; } }

@media (max-width: 768px) {
  .services-items-container .services-item {
    width: 90% !important; }
    .services-items-container .services-item img {
      width: 300px !important; } }

@media (max-width: 390px) {
  .services-items-container .services-item {
    width: 95% !important; }
    .services-items-container .services-item img {
      width: 250px !important; }
    .services-items-container .services-item .services-item-title {
      margin: 20px 0 20px 0;
      font-size: 25px !important; }
    .services-items-container .services-item .services-item-description {
      width: 70% !important;
      font-size: 21px;
      text-align: center; }
    .services-items-container .services-item .services-item-btn {
      margin-bottom: 50px; } }

.social-container {
  padding: 15px;
  max-width: 1460px;
  margin: 100px auto 40px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }
  .social-container .social-text {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .social-container .social-text .p1 {
      font-family: "Professor";
      font-size: 30px;
      margin: 0px 10px 0px 0px; }
    .social-container .social-text .p2 {
      margin: 0px;
      font-size: 30px; }
  .social-container .social-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .social-container .social-img-container .social-img {
      margin-bottom: 15px;
      margin-right: 10px;
      margin-left: 10px; }
  .social-container a {
    color: #ee7f59;
    text-decoration: none;
    padding: 15px;
    background: #02418f;
    border-radius: 15px; }

@media (max-width: 600px) {
  .social-container {
    margin: 40px auto 40px auto;
    flex-direction: column; }
    .social-container .social-text {
      margin-top: 20px;
      margin-bottom: 20px;
      flex-direction: column !important; }
      .social-container .social-text .p1 {
        font-family: "Professor";
        font-size: 25px !important;
        margin: 0px; }
      .social-container .social-text .p2 {
        margin: 0px;
        font-size: 25px !important; }
    .social-container .social-img-container {
      flex-direction: column; }
      .social-container .social-img-container .social-img {
        margin-bottom: 15px;
        margin-right: 0px; } }

@media (max-width: 390px) {
  .social-container {
    margin: 40px auto 40px auto;
    flex-direction: column; }
    .social-container .social-text {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      flex-direction: column; }
      .social-container .social-text .p1 {
        font-size: 25px;
        margin: 0px; }
      .social-container .social-text .p2 {
        margin: 0px;
        font-size: 25px !important; }
    .social-container .social-img-container {
      flex-direction: column; }
      .social-container .social-img-container .social-img {
        margin-bottom: 15px;
        margin-right: 0px; } }

.contact-section {
  width: 50%;
  margin: 50px auto 50px auto;
  background: #f9cebe;
  padding: 25px; }
  .contact-section .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px 10px 45px; }
    .contact-section .form .inputs-1 {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .contact-section .form .inputs-1 .input-name {
        width: 45%;
        padding: 10px;
        outline: none; }
      .contact-section .form .inputs-1 .input-email {
        width: 45%;
        padding: 10px;
        outline: none; }
    .contact-section .form .input-textarea {
      width: 100%;
      padding: 10px;
      outline: none; }
    .contact-section .form .btn-form {
      outline: none;
      border: none;
      margin-top: 10px;
      margin-left: auto;
      padding: 10px;
      background: #ee7f59;
      border-radius: 7px;
      color: #f3efe8; }

@media (max-width: 992px) {
  .contact-section .form .inputs-1 {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; }
    .contact-section .form .inputs-1 .input-name {
      width: 100%;
      padding: 10px;
      outline: none; }
    .contact-section .form .inputs-1 .input-email {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      outline: none; }
  .contact-section .form .input-textarea {
    width: 100%;
    padding: 10px;
    outline: none; }
  .contact-section .form .btn-form {
    outline: none;
    border: none;
    margin-top: 10px;
    margin-left: auto;
    padding: 10px;
    background: #ee7f59;
    border-radius: 7px;
    color: #f3efe8; } }

@media (max-width: 768px) {
  .contact-section {
    width: 85%;
    margin: 50px auto 50px auto;
    background: #f9cebe;
    padding: 20px; }
    .contact-section .form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 20px 10px 20px; }
      .contact-section .form .inputs-1 {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .contact-section .form .inputs-1 .input-name {
          width: 100%;
          padding: 10px;
          outline: none; }
        .contact-section .form .inputs-1 .input-email {
          width: 100%;
          padding: 10px;
          outline: none; }
      .contact-section .form .input-textarea {
        width: 100%;
        padding: 10px;
        outline: none; }
      .contact-section .form .btn-form {
        outline: none;
        border: none;
        margin-top: 10px;
        margin-left: auto;
        padding: 10px;
        background: #ee7f59;
        border-radius: 7px;
        color: #f3efe8; } }

.navbar {
  background-color: #f3efe8;
  padding: 0; }
  .navbar .container-fluid .navbar__logoWraper {
    min-height: 7.125rem;
    padding-left: 7.5vw;
    display: flex;
    align-items: center; }
    .navbar .container-fluid .navbar__logoWraper .navbar-brand__text {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .navbar .container-fluid .navbar__logoWraper .navbar-brand__text p {
        font-size: 1.125rem;
        margin: 0; }
  .navbar .container-fluid .navbar-toggler {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 0; }
    .navbar .container-fluid .navbar-toggler:focus {
      box-shadow: none; }
    .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
      background-image: url(../img/menu.svg);
      background-position: center;
      background-size: 23px; }
  .navbar .container-fluid .navbar-collapse {
    padding-right: 22vw;
    flex-grow: 0; }
    .navbar .container-fluid .navbar-collapse ul .nav-item .nav-link {
      margin-right: 3vw;
      font-size: 1.125rem;
      color: #000;
      font-weight: 600;
      transition: all 0.25s ease; }
      .navbar .container-fluid .navbar-collapse ul .nav-item .nav-link:hover {
        font-size: 1.15rem;
        color: #ee7f59; }
    .navbar .container-fluid .navbar-collapse ul .nav-item:last-child .nav-link {
      margin-right: 0; }
  @media (max-width: 1400px) {
    .navbar .container-fluid .navbar__logoWraper {
      padding-left: 5.5vw; }
    .navbar .container-fluid .navbar-collapse {
      padding-right: 13vw; } }
  @media (max-width: 992px) {
    .navbar {
      padding-bottom: 0; }
      .navbar .container-fluid .navbar__logoWraper {
        padding-left: 2rem; }
      .navbar .container-fluid .navbar-toggler {
        margin-right: 2rem; }
      .navbar .container-fluid .navbar-collapse {
        padding-right: 0; }
        .navbar .container-fluid .navbar-collapse ul {
          margin-bottom: 0; }
          .navbar .container-fluid .navbar-collapse ul .nav-item .nav-link {
            font-family: "Cooper-Black", serif;
            margin-right: 0;
            padding: 1rem;
            text-align: center;
            border-top: 1px solid #cccccc; }
          .navbar .container-fluid .navbar-collapse ul .nav-item:last-child .nav-link {
            border-bottom: 1px solid #cccccc; } }
  @media (max-width: 576px) {
    .navbar .container-fluid .navbar__logoWraper {
      min-height: 5.3125rem;
      padding-left: 0rem; }
      .navbar .container-fluid .navbar__logoWraper .navbar-brand img {
        width: 3.125rem; }
      .navbar .container-fluid .navbar__logoWraper .navbar-brand__text p {
        font-size: 1rem; }
    .navbar .container-fluid .navbar-toggler {
      margin-right: 0rem; } }

.whatsapp-link {
  position: fixed;
  bottom: 1.8rem;
  right: 1.8rem;
  z-index: 1030; }
  .whatsapp-link img {
    width: 4.125rem; }
  @media (max-width: 576px) {
    .whatsapp-link {
      bottom: 0.625rem;
      right: 0.625rem; }
      .whatsapp-link img {
        width: 4rem; } }

.footer {
  width: 100%;
  background: #ee7f59;
  height: 100px; }
