/********************* Reseteo general CSS *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Poppins-Light";
  font-weight: 300;
  src: url(../fonts/poppins-light.ttf) format("truetype"); }

@font-face {
  font-family: "Poppins-Semibold";
  font-weight: 600;
  src: url(../fonts/poppins-semiBold.ttf) format("truetype"); }

@font-face {
  font-family: "Professor";
  font-weight: 400;
  src: url(../fonts/professor.ttf) format("truetype"); }

@font-face {
  font-family: "Cooper-Black";
  font-weight: 900;
  src: url(../fonts/coopbl.TTF) format("truetype"); }

html {
  font-size: 16px; }

body {
  font-family: "Poppins-Light", Helvetica, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cooper-Black", serif;
  font-weight: 900; }

p {
  font-family: "Poppins-Light", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.125rem; }

.navbar {
  background-color: #f3efe8; }
  .navbar .container-fluid .navbar__logoWraper {
    min-height: 7rem;
    padding-left: 7.5vw;
    display: flex;
    align-items: center; }
    .navbar .container-fluid .navbar__logoWraper .navbar-brand__text {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .navbar .container-fluid .navbar__logoWraper .navbar-brand__text p {
        font-size: 1.125rem;
        margin: 0; }
  .navbar .container-fluid .navbar-toggler {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 0; }
    .navbar .container-fluid .navbar-toggler:focus {
      box-shadow: none; }
    .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
      background-image: url(../img/menu.svg);
      background-position: center;
      background-size: 23px; }
  .navbar .container-fluid .navbar-collapse {
    padding-right: 22vw;
    flex-grow: 0; }
    .navbar .container-fluid .navbar-collapse ul .nav-item .nav-link {
      margin-right: 3vw;
      font-size: 1.125rem;
      color: #000;
      font-weight: 300;
      transition: all 0.25s ease; }
      .navbar .container-fluid .navbar-collapse ul .nav-item .nav-link:hover {
        font-size: 1.15rem;
        font-weight: 600;
        color: #ee7f59; }
    .navbar .container-fluid .navbar-collapse ul .nav-item:last-child .nav-link {
      margin-right: 0; }
  @media (max-width: 1400px) {
    .navbar .container-fluid .navbar__logoWraper {
      padding-left: 5.5vw; }
    .navbar .container-fluid .navbar-collapse {
      padding-right: 13vw; } }
  @media (max-width: 992px) {
    .navbar {
      padding-bottom: 0; }
      .navbar .container-fluid .navbar__logoWraper {
        padding-left: 2rem; }
      .navbar .container-fluid .navbar-toggler {
        margin-right: 2rem; }
      .navbar .container-fluid .navbar-collapse {
        padding-right: 0; }
        .navbar .container-fluid .navbar-collapse ul {
          margin-bottom: 0; }
          .navbar .container-fluid .navbar-collapse ul .nav-item .nav-link {
            font-family: "Cooper-Black", serif;
            margin-right: 0;
            padding: 1rem;
            text-align: center;
            border-top: 1px solid #cccccc; }
          .navbar .container-fluid .navbar-collapse ul .nav-item:last-child .nav-link {
            border-bottom: 1px solid #cccccc; } }
  @media (max-width: 576px) {
    .navbar {
      padding-bottom: 0; }
      .navbar .container-fluid .navbar__logoWraper {
        padding-left: 0rem; }
        .navbar .container-fluid .navbar__logoWraper .navbar-brand img {
          width: 3.125rem; }
        .navbar .container-fluid .navbar__logoWraper .navbar-brand__text p {
          font-size: 1rem; }
      .navbar .container-fluid .navbar-toggler {
        margin-right: 0rem; } }
