.hero-image {
  background-color: $natural;
  background-image: url(../img/fondo.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 7.125em);
  .hero-image__container {
    max-width: $max-width;
    height: 100%;
    margin: auto;
    background-image: url(../img/tissue_package_hands.jpg);
    background-position: center;
    background-size: cover;
  }
  @media (max-width: $xxl) {
    //background-image: none;
    .hero-image__container {
      background-position: 51.25% center;
    }
  }
  @media (max-width: $sm) {
    height: calc(100vh - 5.3125em);
    // Op 3************************
    // .hero-image__container {
    //   background-image: url(../img/tissue_package_hands.jpg);
    //   background-repeat: no-repeat;
    //   background-size: 157%;
    // }
  }
  @media (max-width: 450px) {
    .hero-image__container {
      background-image: url(../img/tissue_package_hands_mobile.jpg);
      // Op 2***********************
      //background-position: center 4rem;
      // background-attachment: fixed;
    }
  }
}
