// Colores
$naranja-marca: #ee7f59;
$pastel-claro: #f9cebe;
$natural: #f3efe8;

// Fuentes
$fuente-principal: "Poppins-Light", Helvetica, sans-serif;
$fuente-titulos: "Cooper-Black", serif;

//otros
$max-width: 1460px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1399px;
